# Decathlon Yestalgia — Styles

CSS extraído: `app.DEmn3dlJ.css`

Cores do sistema:
```css
--green: #00966E
--lime: #D7DD44
--orange: #F09341
--dark: #3B324C
--beige: #F4F4F4
--gray: #5C5B5B
```

Tipografia: Roboto Flex (variable)
